# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
security-bench

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# MacOS Artifacts
.DS_Store


# Test Artifacts
coverage.txt

# local scratch pad
temp.txt