# Binaries for programs and plugins
vulnscan

# Test binary, built with `go test -c`
*.test

# Test Artifacts
coverage.out
coverage.txt

# Vendor system files	
vendor

# Env file with possibly confidential stuff
.env

# Config files
vulnscan.json
vulnscan.toml
vulnscan.yaml

# Log files
*.log

# macOS Artifacts
.DS_Store

# vscode
.vscode/