[submodule "test/data"]
	path = test/data
	url = https://github.com/simplycubed/vulnscan_testfiles
[submodule "test/tools"]
	path = test/tools
	url = https://github.com/simplycubed/vulnscan-dependencies
